<?xml version="1.0" encoding="ISO-8859-1"?>

<hibernate-configuration>

    <session-factory>

        <!--<property name="hibernate.c3p0.min_size">10</property>-->
        <!--<property name="hibernate.c3p0.max_size">20</property>-->
        <!--<property name="hibernate.c3p0.acquire_increment">1</property>-->
        <!--<property name="hibernate.c3p0.idle_test_period">3000</property>-->
        <!--<property name="hibernate.c3p0.max_statements">50</property>-->
        <!--<property name="hibernate.c3p0.timeout">1800</property>-->

        <property name="hibernate.current_session_context_class">thread</property>
        <!--<property name="hibernate.connection.autocommit">false</property>-->

        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.generate_statistics">false</property>
        <property name="hibernate.use_sql_comments">false</property>

    </session-factory>

</hibernate-configuration>

